*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header section */

.header
{
    width: 100%;
    background-color: rgb(55, 51, 51);
    color: white;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}

h2
{
    text-align: left;
}

.header ul li 
{
      display: inline-block;
      padding: 5px 35px ;       
}
.header a 
{
       color: white;
       text-decoration: none;
       font-size: 20px;      
}
.header a:hover 
{
    color: yellow;
    text-decoration: none;
    font-size: 22px;
    transition: 0.1s ease all;
}

/* Content */

.container
{
    display: flex;
    flex: 1;
    flex-direction: row;
}

/* Sidebar */
.sidebar
{
    background-color: lightgray;
    width: 17%;
    color: black;
    text-align: center;
    padding: 25px;
    font-size: 20px;
}

/* Main content area */

.main-content
{
    flex: 1;
    display: flex;
    background-color: lightblue;
    color: black;
    padding: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

/* Footer Area */
.footer
{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}